@model SeekSafe.UserAccount

@{
    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
    Layout = "~/Views/Shared/_OllieLoginLayout.cshtml";
    ViewBag.Title = "ForgotPassword";
}
<header id="home" class="header">
    <div class="overlay"></div>
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="container">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="container-fluid_a">
                            @if (!String.IsNullOrEmpty(TempData["Msg"] as String))
                            {
                                <div class="alert alert-success">@TempData["Msg"]</div>
                            }
                            <br />
                            <h2 align="center">SeekSafe</h2>
                            <h5 align="center">Enter your ID Number and Username to reset the password.</h5>
                            <hr />
                             @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        ID Number
                                        <div>
                                            @Html.EditorFor(model => model.userIDNum, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.userIDNum, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Username
                                        <div>
                                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <input type="submit" value="Send" class="btn btn-info" />
                                            <a href="@Url.Action("Login")" class="btn-colorful">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container_foot_h">
    <footer class="footer mt-5 border-top">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center text-md-left">
                <p class="mb-0">
                    SeekSafe
                    <script>document.write(new Date().getFullYear())</script> &copy;
                    <a target="_blank" href="https://www.facebook.com/mark.julianiii">Bongola MJ,</a>
                    <a target="_blank" href="https://www.facebook.com/chandlerescala"> Escala CA,</a>
                    <a target="_blank" href="https://www.facebook.com/mistyrhaine.escala/"> Escala MR,</a>
                    <a target="_blank" href="https://www.facebook.com/jessarosetepace.24"> Tepace JR</a>
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="social-links">
                    <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                    <a href="https://google.com/seeksafe19" class="link"><i class="ti-google"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<style>
        .container_foot_h {
        margin-top: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 20px; /* Adjust left and right padding for centering */
    }
</style>

<script>
    $(document).ready(function () {
        $('#userIDNum').rules('add', {
            required: true,
            digits: true,
            minlength: 8,
            maxlength: 8,
            messages: {
                required: "ID Number is required.",
                digits: "ID Number must contain only digits.",
                minlength: "ID Number must be exactly 8 digits.",
                maxlength: "ID Number must be exactly 8 digits."
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>