@model IEnumerable<vw_VerifiedItems>
@{
    Layout = "~/Views/Shared/_OllieHomeLayout.cshtml";
    ViewBag.Title = "Verified Reports";
}


<header id="home" class="header">
    <div class="overlay"></div>
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="container">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="container px-4 py-5" id="hanging-icons">
                            <div class="my-3 p-3 bg-body rounded shadow-sm">
                                <h1 class="border-bottom pb-2 mb-0">Manage Reports</h1>
                                <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">

                                    <!-- Pending Reports Column -->
                                    <div class="col">
                                        <a href="~/Home/PendingReports" class="d-block text-decoration-none text-center">
                                            <div class="text-dark mb-3">
                                                <svg height="3em" width="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="Pending">
                                                    <g fill="#ffa021" class="color000000 svgShape">
                                                        <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" fill="#ffa021" class="color000000 svgShape"></path>
                                                        <path d="M12,6a1,1,0,0,0-1,1v4.59L8.29,14.29a1,1,0,1,0,1.41,1.41l3-3A1,1,0,0,0,13,12V7A1,1,0,0,0,12,6Z" fill="#ffa021" class="color000000 svgShape"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <h2 class="m-0">
                                                Pending
                                                <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                                                    @ViewBag.PendingItemCount
                                                </span>
                                            </h2>
                                        </a>
                                    </div>

                                    <!-- Claiming Request Column -->
                                    <div class="col">
                                        <a href="~/Home/ClaimingRequest" class="d-block text-decoration-none text-center">
                                            <div class="text-dark me-3">
                                                <svg height="3em" width="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="Alert">
                                                    <g fill="#ceb5ff" class="color000000 svgShape">
                                                        <path d="M22.56 16.3 14.89 3.58a3.43 3.43 0 0 0-5.78 0L1.44 16.3a3 3 0 0 0-.05 3A3.37 3.37 0 0 0 4.33 21h15.34a3.37 3.37 0 0 0 2.94-1.66 3 3 0 0 0-.05-3.04zM12 17a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm1-4a1 1 0 0 1-2 0V9a1 1 0 0 1 2 0z" fill="#ceb5ff" class="color000000 svgShape">
                                                        </path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <h2 class="m-0">
                                                Claiming Request
                                                <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                                                    @ViewBag.ClaimingRequest
                                                </span>
                                            </h2>
                                        </a>
                                    </div>

                                    <!-- Verified Reports Column -->
                                    <div class="col">
                                        <a href="~/Home/VerifiedReports" class="d-block text-decoration-none text-center">
                                            <div class="text-dark mb-3">
                                                <svg height="3em" width="3em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="Verified">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g fill="#00824f" class="color000000 svgShape">
                                                            <path d="M15.67 7.06l-1.08-1.34c-.17-.22-.28-.48-.31-.77l-.19-1.7a1.51 1.51 0 0 0-1.33-1.33l-1.7-.19c-.3-.03-.56-.16-.78-.33L8.94.32c-.55-.44-1.33-.44-1.88 0L5.72 1.4c-.22.17-.48.28-.77.31l-1.7.19c-.7.08-1.25.63-1.33 1.33l-.19 1.7c-.03.3-.16.56-.33.78L.32 7.05c-.44.55-.44 1.33 0 1.88l1.08 1.34c.17.22.28.48.31.77l.19 1.7c.08.7.63 1.25 1.33 1.33l1.7.19c.3.03.56.16.78.33l1.34 1.08c.55.44 1.33.44 1.88 0l1.34-1.08c.22-.17.48-.28.77-.31l1.7-.19c.7-.08 1.25-.63 1.33-1.33l.19-1.7c.03-.3.16-.56.33-.78l1.08-1.34c.44-.55.44-1.33 0-1.88zM6.5 12L3 8.5 4.5 7l2 2 5-5L13 5.55 6.5 12z" fill="#00824f" class="color000000 svgShape"></path>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                            <h2 class="m-0">
                                                Verified
                                                <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                                                    @ViewBag.VerifiedItemCount
                                                </span>
                                            </h2>
                                        </a>
                                    </div>

                                </div>
                                <h5 class="text-end mt-3">
                                    <a href="~/Home/VerifiedReports" class="text-white" text-align="right">All Reports</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<br />
<!-- Sort button group -->
<div class="dropdown">
    <button type="button" class="btn dropdown-toggle1 text-white" data-bs-toggle="dropdown" style="margin-left: 35px; background-color: #008080; color: white; font-weight: bold; ">
        Sort by
    </button>

    <hr />
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="@Url.Action("VerifiedReports", "Home", new { sortOrder = "newest" })">Newest to Oldest</a></li>
        <li><a class="dropdown-item" href="@Url.Action("VerifiedReports", "Home", new { sortOrder = "oldest" })">Oldest to Newest</a></li>
    </ul>
</div>


<div class="container">
    <div class="container">
        <div class="my-31 p-3 bg-body rounded shadow-sm">
            <h2 class="pb-2 border-bottom">Verified Reports</h2>
            @foreach (var item in Model)
            {
                <div class="d-flex text-muted pt-3">
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" alt="Image not supported"  style="margin-right: 15px"/>
                    }
                    @if (string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="~/Content/Placeholder/noimage.png" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" alt="No Available Image"  style="margin-right: 15px"/>
                    }
                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6 class="text-gray-dark">User ID: @item.userIDNum</h6>
                                <h6 class="text-gray-dark">Item Name: @item.itemName</h6>
                                <h6 class="text-gray-dark">Item Type: @item.itemType</h6>
                                <h6 class="text-gray-dark">Item Description: @item.itemDescription</h6>
                                <h6 class="text-gray-dark">Location: @item.locationName</h6>
                               @if (item.date.HasValue)
                               {
                                <h6 class="text-gray-dark">Date Found: @item.date.Value.ToShortDateString()</h6>
                               }
                               else
                               {
                                <h6 class="text-gray-dark">Date Found: (No date available)</h6>
                               }

                               @if (item.time.HasValue)
                               {
                                <h6 class="text-gray-dark">Time Found: @DateTime.Today.Add(item.time.Value).ToString("hh:mm tt")</h6>
                               }
                               else
                               {
                                <h6 class="text-gray-dark">Time Found: (No time available)</h6>
                               }


                            </div>
                            @*<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#verifyModal">
                                Verify now
                                <svg height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" style="isolation:isolate" id="Send"><defs><clipPath id="a"><rect width="64" height="64" fill="#ffffff" class="color000000 svgShape"></rect></clipPath></defs><g clip-path="url(#a)" fill="#ffffff" class="color000000 svgShape"><path d=" M 8.216 36.338 L 26.885 32.604 C 28.552 32.271 28.552 31.729 26.885 31.396 L 8.216 27.662 C 7.104 27.44 6.021 26.356 5.799 25.245 L 2.065 6.576 C 1.731 4.908 2.714 4.133 4.259 4.846 L 61.228 31.139 C 62.257 31.614 62.257 32.386 61.228 32.861 L 4.259 59.154 C 2.714 59.867 1.731 59.092 2.065 57.424 L 5.799 38.755 C 6.021 37.644 7.104 36.56 8.216 36.338 Z " fill="#ffffff" class="color000000 svgShape"></path></g></svg>
                            </button>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="verifyModal" tabindex="-1" aria-labelledby="verifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="verifyModalLabel">Verify Report</h5>
                <p class="modal-title text-white" id="verifyModalLabel">&nbsp;&nbsp;(By selecting the option for the specific report)</p>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="lostRadio" name="reportType" value="lost">
                    <label class="form-check-label" for="lostRadio">Lost Item</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="foundRadio" name="reportType" value="found">
                    <label class="form-check-label" for="foundRadio">Found Item</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="claimRadio" name="reportType" value="claim">
                    <label class="form-check-label" for="claimRadio">Claim Item</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="returnRadio" name="reportType" value="return">
                    <label class="form-check-label" for="returnRadio">Return Item</label>
                </div>
                <hr />
                <div id="lostDetails" class="report-details" style="display: none;">
                    <h5>Lost Item Report Verification:</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lostdescriptionCheckbox">
                        <label class="form-check-label" for="itemDescriptionCheckbox">Item Description</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lostitemNameCheckbox">
                        <label class="form-check-label" for="itemNameCheckbox">Item Name</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lostdateLostCheckbox">
                        <label class="form-check-label" for="dateLostCheckbox">Date Lost</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lostlocationCheckbox">
                        <label class="form-check-label" for="lostLocationCheckbox">Location Lost</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lostitemTypeCheckbox">
                        <label class="form-check-label" for="itemTypeCheckbox">Item Type</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lostitemImageCheckbox">
                        <label class="form-check-label" for="itemImageCheckbox">Item Image</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lostuserIDNumberCheckbox">
                        <label class="form-check-label" for="userIDNumberCheckbox">User ID Number</label>
                    </div>
                </div>


                <div id="foundDetails" class="report-details" style="display: none;">
                    <h5>Found Item Report Verification:</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="founddescriptionCheckbox">
                        <label class="form-check-label" for="foundDescriptionCheckbox">Item Description</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="founditemNameCheckbox">
                        <label class="form-check-label" for="founditemNameCheckbox">Item Name</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="founddateLostCheckbox">
                        <label class="form-check-label" for="datefoundCheckbox">Date Lost</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="foundlocationCheckbox">
                        <label class="form-check-label" for="foundLocationCheckbox">Location Lost</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="founditemTypeCheckbox">
                        <label class="form-check-label" for="founditemTypeCheckbox">Item Type</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="founditemImageCheckbox">
                        <label class="form-check-label" for="founditemImageCheckbox">Item Image</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lostuserIDNumberCheckbox">
                        <label class="form-check-label" for="userIDNumberCheckbox">User ID Number</label>
                    </div>
                </div>


                <div id="claimDetails" class="report-details" style="display: none;">
                    <h5>Claim Item Report Verification:</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ReportIDCheckbox">
                        <label class="form-check-label" for="ReportIDCheckbox">Report ID</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="claimOwnershipCheckbox">
                        <label class="form-check-label" for="claimOwnershipCheckbox">Item Ownership: This user reported a lost item that matches the found item.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="claimuserIDNumberCheckbox">
                        <label class="form-check-label" for="claimuserIDNumberCheckbox">User ID Number</label>
                    </div>
                </div>
                <div id="returnDetails" class="report-details" style="display: none;">
                    <h5>Return Item Report Verification:</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="returnReportIDCheckbox">
                        <label class="form-check-label" for="returnReportIDCheckbox">Report ID</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="returnuserIDNumberCheckbox">
                        <label class="form-check-label" for="returnuserIDNumberCheckbox">User ID Number</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="~/Home/VerifiedReports" class="btn btn-light">Back</a>
                <a href="~/Home/ReportVerification" type="button" class="btn btn-danger">Next</a>
            </div>

        </div>
    </div>
</div>

<script>
    var previousContent = {};

    function initializeRadioEventListeners() {
        document.querySelectorAll('input[type="radio"]').forEach(function(radio) {
            radio.addEventListener('change', function() {
                var radioValue = this.value;
                document.querySelectorAll('.report-details').forEach(function(detailsDiv) {
                    detailsDiv.style.display = 'none';
                });
                var detailsDiv = document.getElementById(radioValue + 'Details');
                if (detailsDiv) {
                    detailsDiv.style.display = 'block';
                }
            });
        });
    }

    initializeRadioEventListeners();

    var nextButton = document.querySelector('#verifyModal .modal-footer button.btn-danger');

    nextButton.addEventListener('click', function() {
        var modalBody = document.querySelector('#verifyModal .modal-body');
        previousContent[modalBody.id] = modalBody.innerHTML;

        modalBody.innerHTML = '<h5>New modal body content</h5>';

        document.querySelectorAll('input[type="radio"]').forEach(function(radio) {
            radio.checked = false;
        });

        initializeRadioEventListeners();
    });

    var backButton = document.querySelector('#verifyModal .modal-footer button.btn-light');

    backButton.addEventListener('click', function () {
        var modalBody = document.querySelector('#verifyModal .modal-body');
        var previousContentHTML = previousContent[modalBody.id];

        if (previousContentHTML) {
            modalBody.innerHTML = previousContentHTML;

            initializeRadioEventListeners();
        }
    });
</script>

<div class="container_foot_m">
    <footer class="footer mt-5 border-top">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center text-md-left">
                <p class="mb-0">
                    SeekSafe
                    <script>document.write(new Date().getFullYear())</script> &copy;
                    <a target="_blank" href="https://www.facebook.com/mark.julianiii">Bongola MJ,</a>
                    <a target="_blank" href="https://www.facebook.com/chandlerescala"> Escala CA,</a>
                    <a target="_blank" href="https://www.facebook.com/mistyrhaine.escala/"> Escala MR,</a>
                    <a target="_blank" href="https://www.facebook.com/jessarosetepace.24"> Tepace JR</a>
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="social-links">
                    <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                    <a href="https://google.com/seeksafe19" class="link"><i class="ti-google"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>
<style>
    .container_foot_m {
        margin-top: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 20px; /* Adjust left and right padding for centering */
    }

    body {
        margin-top: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgb(237, 242, 250);
    }

    .bg-light1 {
        background-image: linear-gradient(135deg, #fdfcfb 10%, #e2d1c3 100%);
    }

    .custom-bg-color {
        background-image: linear-gradient(135deg, #6B0F1A 100%, #6B0F1A 10%);
    }

    .dropdown-menu[data-bs-popper] {
        left: auto;
    }

    .report-form-container {
        width: 100%;
        max-width: 500px;
        margin: 100px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 2px solid #052659;
        border-radius: 5px;
        background-color: transparent;
        color: #000000;
    }

    .form-container {
        width: 100%;
        max-width: 500px;
        margin: 100px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
    }

        /* Form Fields */
        .form-container label {
            display: block;
            margin-bottom: 20px;
        }

        .form-container textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            resize: vertical;
        }

        .form-container input[type="radio"] {
            margin-right: 10px;
        }

        .form-container button[type="submit"] {
            background-color: #004080;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .form-container textarea:focus {
            border-color: #004080;
        }

        .form-container input[type="radio"]:focus {
            outline-color: #004080;
        }

        .form-container button[type="submit"]:focus {
            outline-color: #004080;
        }

    .dropdown-toggle1 {
        background-color: #808080;
    }

    .dropdown-toggle {
        color: #fff;
        border-color: #004080;
    }

    .text-dark {
        color: #fff !important;
    }

    .bg-light {
        background-color: #ff0000 !important;
    }

    .my-3 {
        margin-top: 4rem !important;
    }

    .modal-header {
        background-image: linear-gradient(135deg, #6B0F1A 100%, #6B0F1A 10%);
    }

    .form-check-input:checked {
        background-color: #6b0f1a !important;
        border-color: #dc3545 !important;
    }

    .modal-footer {
        background-color: rgb(237, 242, 250);
    }

    /* Button styles */
    .btn-colorful {
        display: inline-block;
        width: 5%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: #008080;
        color: #fff;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        /* Hover state */
        .btn-colorful:hover {
            background-color: #66b2b2;
            color: #021024; /* Dark text color on hover */
        }
</style>